# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
dist/


# Node
node_modules/
frontend/node_modules/

# Build output
dist/
frontend/dist/

# Logs
*.log
/var/log/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
